* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
}

main {
    height: 100%;
}

div {
    padding: 0 !important;
    margin: 0 !important;
}

h2 {
    margin: 0;
}

.card {
    -webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.user-photo {
    height: 60px;
    width: 60px;
}

.username {
    display: inline;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#picture {
    width: 100%;
    height: 100%;
}

.post-picture {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
}

.pic-btn {
    border: none;
    background: transparent;
}

.pic-a {
    color: black;
}

.pic-a:hover,
.pic-a:visited {
    color: black;
}

.comment-pic {
    height: 30px;
    width: 30px;
}

.comment-post>p {
    margin: 0;
}

.small {
    font-size: 8px;
    color: gray;
    font-weight: bolder;
}

.likes {
    margin: 0;
    font-weight: bolder;
}

.item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
}

.scroll {
    width: 100%;
    height: 50%;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: left;
}

.scroll-photos {
    width: 100%;
    height: 90%;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: left;
}

.scroll-user {
    width: 100%;
    height: 90%;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: left;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }